[submodule "lib/dimple"]
	path = lib/dimple
	url = https://github.com/PMSI-AlignAlytics/dimple
[submodule "lib/RGraph"]
	path = lib/RGraph
	url = https://github.com/xtuple/RGraph.git
[submodule "lib/signature_pad"]
	path = lib/signature_pad
	url = https://github.com/szimek/signature_pad.git
